<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html"/>
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="../bower_components/paper-fab/paper-fab.html"/>

<dom-module id="my-profile">
    <style>
    </style>

    <template>

        <paper-toolbar>
            <paper-icon-button icon="menu"></paper-icon-button>
            <div class="title">WhatSnap</div>
        </paper-toolbar>

    </template>

</dom-module>

<script>
    Polymer({
        is: 'my-profile',

        // initialize data
        properties: {
            /*conversations: {
                type: Array,
                value: UserStore.getConversations()
            },
            isEmpty: {
                type: Boolean,
                value: UserStore.getConversations().length == 0
            }*/
        },

        attached: function () {
            var self = this;
            this.id = Dispatcher.register('INITIALISATION_DONE', {
                receive: function () {
                    self.$.ajax.url = 'http://localhost:7070/' + ( localStorage.getItem('isSignedIn') ? 'login' : 'signin' );
                    self.$.ajax.headers = {
                        'Content-Type': 'application/json'
                    };
                    self.$.ajax.body = {
                        phone_number: UserStore.getSim().phoneNumber,
                        contacts: UserStore.getContacts().map(function (contact) {
                            return contact.phoneNumber;
                        })
                    };
                    self.$.ajax.generateRequest();
                }
            });
            if (UserStore.init()) {
                this.set('conversations', UserStore.getConversations());
                this.set('isEmpty', UserStore.getConversations().length == 0);
            }
        },

        detached: function () {
            Dispatcher.destroy({id:this.id});
        },


    });
</script>