<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html"/>
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html"/>
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="../bower_components/paper-item/paper-item-body.html"/>
<link rel="import" href="../bower_components/paper-item/paper-item.html"/>
<link rel="import" href="../bower_components/paper-badge/paper-badge.html"/>
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html"/>
<link rel="import" href="simple-menu.html">

<dom-module id="my-home">

    <style>
        .avatar img {
            -webkit-border-radius: 10000px;
            -moz-border-radius: 10000px;
            border-radius: 10000px;
        }
    </style>

    <template>


        <!-- menu bar -->
        <paper-toolbar>
            <paper-icon-button icon="menu"></paper-icon-button>
            <div class="title">WhatSnap</div>
        </paper-toolbar>

        <!-- Display all conversations -->
        <template is="dom-repeat" items="{{ conversations }}">

            <paper-item on-click="goConversation">
                <div class="avatar green" item-icon>
                    <img src="{{item.image}}"
                         alt=""
                         style="height:54px;padding:10px;"/>
                </div>
                <paper-item-body two-line class="layout vertical">
                    <div>{{ item.name }}</div>
                    <div secondary><span>{{item.place}}</span>, <span>{{item.date}}</span></div>
                </paper-item-body>
                <div><paper-badge label="{{ item.notif }}"></paper-badge></div>
            </paper-item>

        </template>

    </template>

</dom-module>

<script>
    Polymer({
        is: 'my-home',

        /**
         * Data initialization
         */

        properties: {
            conversations: {
                type: Array,
                value: talks
            }
        },

        attached: function () {
            window.addEventListener('resize', this._resize, true);
        },

        detached: function () {
            window.removeEventListener('resize', this._resize, true);
        },

        goConversation: function (item) {
            document.querySelector('app-router').go('/conversation/' + item.model.item.id);
        },

        _resize: function (e) {
            console.log(window.innerWidth);
        }

    });
</script>