<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html"/>
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html"/>
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html"/>
<link rel="import" href="../bower_components/paper-item/paper-item-body.html"/>
<link rel="import" href="../bower_components/paper-item/paper-item.html"/>
<link rel="import" href="../bower_components/paper-badge/paper-badge.html"/>
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html"/>
<link rel="import" href="side-thumbnail.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html"/>

<dom-module id="my-home">

    <style>
        .avatar img {
            -webkit-border-radius: 10000px;
            -moz-border-radius: 10000px;
            border-radius: 10000px;
        }

        .grid-item {
            float:left;
            position:relative;
            outline:0px!important;
            background-color:rgba(255,255,255,0.7)
        }

        @media (max-width: 600px) {
            .grid-item {
                width: calc(100% - 30px);
                border-bottom:1px lightgrey solid;
            }
        }
        @media (min-width: 600px) and (max-width: 800px) {
            .grid-item {
                width: calc(50% - 52px);
            }
        }
        @media (min-width: 800px) and (max-width: 1000px) {
            .grid-item {
                width: calc(33% - 52px);
            }
        }
        @media (min-width:1000px) {
            .grid-item {
                width: calc(25% - 52px);
            }
        }
        @media (min-width: 600px) {
            .grid-item {
                margin:10px;
                -moz-box-shadow: 0px 3px 10px 0px #656565;
                -webkit-box-shadow: 0px 3px 10px 0px #656565;
                -o-box-shadow: 0px 3px 10px 0px #656565;
                box-shadow: 0px 3px 10px 0px #656565;
                filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=10);
            }
        }
        .talks-container {
            -webkit-perspective: 500px;
        }
        .talks-container paper-item {
            -webkit-animation-fill-mode: forwards;
        }
    </style>

    <template>


        <!-- menu bar -->
        <paper-toolbar>
            <paper-icon-button icon="menu"></paper-icon-button>
            <div class="title">WhatSnap</div>
        </paper-toolbar>

        <!-- Display all conversations -->
        <div class="talks-container">
            <template is="dom-repeat" items="{{ conversations }}">

                <paper-item on-up="goConversation" class="grid-item">
                    <div class="avatar green" item-icon>
                        <img src="{{item.image}}"
                             alt=""
                             style="height:54px;padding:10px;"/>
                    </div>
                    <paper-item-body two-line class="layout vertical">
                        <div>{{ item.name }}</div>
                        <div secondary><span>{{item.place}}</span>, <span>{{item.date}}</span></div>
                    </paper-item-body>
                    <div><paper-badge label="{{ item.notif }}"></paper-badge></div>
                    <paper-ripple fit id="ripple" style="pointer-events: none;"></paper-ripple>

                </paper-item>

            </template>
        </div>



    </template>

</dom-module>

<script>
    Polymer({
        is: 'my-home',

        /**
         * Data initialization
         */

        properties: {
            conversations: {
                type: Array,
                value: talks
            },

        },

        attached: function () {
            window.addEventListener('resize', this._resize, true);
            this._onAccelerometer();
        },

        _onAccelerometer: function (){
            var self = this;
            if (navigator.accelerometer) {
                navigator.accelerometer.getCurrentAcceleration(function success(acceleration) {
                    self._rotateY(acceleration.x);
                    self._onAccelerometer();
                }, function error() {
                    console.log('error');
                });
            }
        },

        detached: function () {
            window.removeEventListener('resize', this._resize, true);
            if (navigator.accelerometer) navigator.accelerometer.clearWatch();
        },

        goConversation: function (item) {
            document.querySelector('app-router').go('/conversation/' + item.model.item.id);
        },

        _resize: function (e) {
            console.log(window.innerWidth);
        },
        downAction: function(e) {
            this.$.ripple.downAction({x: e.x, y: e.y});
        },
        upAction: function() {
            this.$.ripple.upAction();
        },

        _rotateY: function (deg) {
            var paperItems = document.querySelectorAll('.talks-container paper-item');
            for (var i in paperItems) {
                paperItems[i].style['-webkit-transform'] = 'rotateY(' + (deg*4) + 'deg)';
            }
        }

    });
</script>